@font-face {
  font-family: "Rales";
  src: url("../assets/Font/Raleway.ttf");
  font-weight: normal;
  font-style: normal;
}
 #Log{
    position: fixed;
    height:100%;
    width: 300px;
    top:0;
    right:0; 
    background-color: #F2F3F4;
    box-shadow: 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
 }
#Cont{
    position: fixed;
    top: 25%;
}
#ELogo{
    width:100%; /* you can use % */
    height: auto;
}
#BkG{
    position: fixed;
    top: 0;
    left: 0;
    background-size:contain;
    background-position:center;
    max-height:100%;
}
.Logg{
    position: absolute;
    left: 13%;
    width: 70%;
    font-family: "Rales";
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
.User{
    position: absolute;
    left: 9rem;
    width: 72%;
    font-family: "Rales";
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
.facer{
    font-family: "Rales";
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#Prod{
    position: relative;
    left: 0%;
    width: 15%;
    margin-left: 1%;
    font-family: "Rales";
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#ProdL{
    font-family: "Rales";
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    padding-right: 40px;
    padding-left: 5px;
}
#CotL{
    font-family: "Rales";
    position: absolute;
    width: 30rem;
    left: 13rem;
    vertical-align: middle;
    display: inline-block;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#CotG{
    font-family: "Rales";
    position: absolute;
    width: 30rem;
    left: 6rem;
    vertical-align: middle;
    display: inline-block;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#Coin{
    font-family: "Rales";
    position: relative;
    width: 4rem;
    left: .3rem;
    vertical-align: middle;
    display: inline-block;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#CotL2{
    font-family: "Rales";
    position: absolute;
    width: 30rem;
    left: 11rem;
    vertical-align: middle;
    display: inline-block;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#ProdL2{
    font-family: "Rales";
    vertical-align: middle;
    font-size: 1rem;
    padding-bottom: 100px;
    padding-right: 35px;
    padding-left: 5px;
}
#ProdA{
    position: relative;
    left: 0%;
    width: 55%;
    font-family: "Rales";
    padding: 10px;
    margin-left: 1%;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#ProdS{
    position: relative;
    left: 0%;
    width: 65%;
    font-family: "Rales";
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
#ProdC{
    position: relative;
    left: 0%;
    width: 55%;
    font-family: "Rales";
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}
#Cont2 {
    position: relative;
    left:0%;
    width: 66%;
    font-family: "Rales";
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
#Cel{
    font-family: "Rales";
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 5px;
}
.Logg.focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.Usr{
    font-family: "Rales";
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 5px;
}
.Red{
    color: red;
    font-family: "Rales";
    font-weight: bold !important;
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 5px;
    margin-bottom: 30px;
}
.Blk{
    font-family: "Rales";
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 5px;
    margin-bottom: 30px;
}
button{
    font-family: "Rales";
}
#Acc{
    margin-left: 3px;
    font-size: .9rem;
}
#FPwd{
    float: right;
    margin-right: 3px;
    font-size: .9rem;

}
menuitem{
    height:100% !important;
    font-family: "Rales";
}
#MMenu{
    position: fixed;
    height:100% !important;
    font-family: "Rales";
    top:-5;
    left:-5; 
}
Legendary .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    background-color: #269AE8;
    color: #FFFEFF;
    position: relative;
    top: -20px;
    right: 5px;
    border-color: transparent;
    font-family: "Rales";
}
#Imagine{
    position: relative;
    float: right;
    max-width: 60%;
}
#Half{
    position: relative;
    float: left;
    min-width: 50%;
    max-width: 50%;
}
#Halve{
    position: relative;
    float: right;
    min-width: 50%;
    max-width: 50%;
}
#Imagine img{
    float: right;
    max-height: 700px;
    max-width: 50%;
}
#ImagineAgain{
    position: relative;
    max-width: 70%;
}
th.Headless.ui-state-default.ui-unselectable-text{
    display: none !important;
}
span.ui-radiobutton-icon.fa.fa-circle{
    color: yellow;
}
td.Smol{
    width:5px !important;
}
th.SmolOne.ui-state-default.ui-unselectable-text span.ui-column-title{
    font-size: .8rem;
}
@media (min-width:300px) {
   #Log {
    width: 250px;
   }
 }
 @media (max-width:800px){
     #CotL{
       width: 32rem;
   }
   #CotL2{
       width: 32rem;
   }
 }
 @media (max-width:750px){
     #CotL{
       width: 30rem;
   }
   #CotL2{
       width: 30rem;
   }
 }
 @media (max-width:700px){
     #CotL{
       width: 28rem;
   }
   #CotL2{
       width: 28rem;
   }
 }
  @media (max-width:650px){
     #CotL{
       width: 26rem;
   }
   #CotL2{
       width: 26rem;
   }
 }
 @media (max-width:600px){
     #CotL{
       width: 24rem;
   }
   #CotL2{
       width: 24rem;
   }
 }
 @media (max-width:550px){
     #CotL{
       width: 22rem;
   }
   #CotL2{
       width: 22rem;
   }
 }
@media (max-width:450px){
     #CotL{
       width: 20rem;
   }
   #CotL2{
       width: 20rem;
   }
   #Cont2{
       width: 5rem;
   }
   #Oompa{
       margin-left: 2rem;
   }
 }
 @media (max-width:400px){
     #CotL{
       width: 16rem;
    }
    #CotL2{
       width: 16rem;
   }
 }
  @media (max-width:350px){
     #CotL{
       width: 11rem;
   }
   #CotL2{
       width: 11rem;
   }
   .User{}
 }